body {
  background:white;
  color:black;
  font-size:25px;
}

.page {
  display:none;
  height:50%
  vertical-align:middle;
  align-content: center;
  align-items: center;
}

img {
  display:flex;
  align-items:center;
  max-width:750px;
  max-height: 900px
  align-content: center;
}

.choices{
  position:relative;
  flex-direction:row;
  display:flex;
  flex-wrap: wrap;
  align-items:center;
  justify-content: center;
  top: 100px;
    left: 120px;
}
.choice {
	display: block;
	flex-direction: row;
	justify-content: center;
	align-items:center;
}


#title {
  flex-direction: column;
  text-align: center;
  color:black;
  font-family:"Futura";
  font-size:40px;
  margin-top:50px;
  margin-left:35px;

}


.captions {
  display: flex;
  flex-direction: row;
  align-content: center;
  color:black;
  font-family:"Futura";
  font-size:25px;
  top:90px;
  left:25px;
  width: 650px;
}


button {
  font-size:1em;
  background:white;
  color:black;
  margin-top:12%;
  margin-left:50%;
  -webkit-border-radius: 35;
  -moz-border-radius: 35;
  border-radius: 35px;
  -webkit-box-shadow: 6px 5px 24px #666666;
  -moz-box-shadow: 6px 5px 24px #666666;
  box-shadow: 6px 5px 24px #666666;
  font-family: "Futura";
    color: black;
    font-size: 27px;
    padding: 20px;
    width:200px;
    align-content:center;
    text-align: center;
    margin-left:625px;
}
button:hover {
      background-color:black;
      color: white;
 }


#page0 {
 display:block;
 position:absolute;
 width:150px;
 top:30%;
 left:35%;
}

#page1 {
  flex:none;
  position:absolute;
  width:150px;
  top:30%;
  left:35%;
}

#page2 {
  flex:none;
  position:absolute;
  width:100px;
  top:30%;
  left:35%;
}

#page3 {
  flex:none;
  position:absolute;
  width:100px;
  top:30%;
  left:35%;
}

.typewriter h3 {
  color: #000;
  font-family: Futura;
  overflow: hidden;
  border-right: .15em solid black;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation:
    typing 4.5s steps(30, end),
    blink-caret .5s step-end 2.5;
    border-right: .15em solid transparent;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black }
}

#intro {
    display: block;
    flex-direction: row;
    text-align: center;
    color:black;
    font-family:"Futura";
    font-size:25px;
    margin-top:120px;
    margin-left:35px;
}
